<script>
export default {
  name: "BarcodeList",
  props: ["listData", "loading"],
  data() {
    return {
      selected: []
    };
  },
  watch:{
    selected(){}
  },
  methods:{
    matchError(itemId, index){
        this.$emit('matchFilter', itemId, index);
    },
    matchErrorSelected(){
        this.$emit('matchErrorSelectedFilter', this.selected);
        this.selected = [];
    },
    publishProduct(item){
      this.$emit('publish', item);
    },
    publishSelectedItem(){
      this.$emit('publishSelected', this.selected);
      this.selected = [];
    }
  }
};
</script>

<template>
<div>
  <b-col sm="12" md="12" lg="12" v-if="loading" class="loading">
    <img src="../assets/loading.svg" />
  </b-col>
    <b-col sm="12" md="12" lg="12" v-if="!loading">
        <b-row>
          <b-col sm="12" md="12" lg="12" class="selected-action">
            <b-button size="md" variant="success" v-if="this.selected.length > 0" @click="publishSelectedItem">
            Seçilenleri Yayına Al
            </b-button>
            <b-button size="md" variant="danger" v-if="this.selected.length > 0" @click="matchErrorSelected">
            Eşleştirmeler Hatalı
            </b-button>
          </b-col>
            <b-col sm="12" md="12" lg="12">
                <b-row  class="data-header">
                    <b-col sm="1" md="1" lg="1" class="select-all">Tümünü Seç</b-col>
                    <b-col sm="4" md="4" lg="4"><strong>Ürünler</strong></b-col>
                    <b-col sm="4" md="4" lg="4"><strong>Eşleşen Ürünler</strong></b-col>
                    <b-col sm="2" md="2" lg="2"></b-col>
                </b-row>
            </b-col>
        </b-row>
        <router-view></router-view>
    </b-col>
    <div v-for="(item, index) in this.listData" v-if="!loading" :key="index">
        <b-col sm="12" md="12" lg="12">
            <b-row  class="list-item">
                <b-col sm="1" md="1" lg="1" class="check-list">
                    <b-form-checkbox v-model="selected" :value="{isMatched: item.isMatched, id: item.id, matchedProductId: item.matchedProductId, index:index}"></b-form-checkbox>
                </b-col>
                <b-col sm="4" md="4" lg="4" class="item-one">
                    <div class="item-info">
                        <p class="barcode">{{item.userBarcode}}</p>
                        <p class="product">{{item.userProductName}}</p>
                        <p class="info"><span>Miad: <strong>{{item.userExpiration}}</strong></span><span>Stok: <strong>{{item.userStock}}</strong></span><span>Fiyat: <strong>{{item.userPrice}} TL</strong></span></p>
                    </div>
                    <img class="arrow-icon" src="../assets/next.svg" />
                </b-col>
                <b-col sm="5" md="5" lg="5" class="item-two">
                    <div class="product-image">
                        <img :src="item.matchedImageUrl" />
                    </div>
                    <div class="item-info">
                        <p class="barcode">{{item.matchedBarcode}}</p>
                        <p class="product">{{item.matchedProductName}}</p>
                         <p class="info"><span>Miad: <strong>{{item.userExpiration}}</strong></span><span>Stok: <strong>{{item.userStock}}</strong></span><span>Fiyat: <strong>{{item.userPrice}} TL</strong></span></p>
                    </div>
                </b-col>
                <b-col sm="2" md="2" lg="2">
                    <div class="link-block">
                        <b-link class="ok" @click="publishProduct({isMatched: item.isMatched, id: item.id, matchedProductId: item.matchedProductId, index:index})">İlanı Yayına Al</b-link>
                        <b-link class="error" @click="matchError(item.id, index)">Eşleştirme Hatalı</b-link>
                    </div>
                </b-col>
            </b-row>
        </b-col>
    </div>
</div>
</template>

<style lang="scss" scoped>
.loading {
  text-align: center;
  img {
    margin: 20px auto;
    max-width: 50px;
  }
}
.selected-action{
    .btn-success {
        border:none !important;
        border-radius: 0 !important;
        font-size: 13px !important;
        background: $MountainMeadow !important;
    }
    .btn-danger {
        border:none !important;
        border-radius: 0 !important;
        font-size: 13px !important;
        background: $Carnation !important;
        margin-left: 15px !important;
    }
  }
.data-header {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 5px;
  align-items: center;
  .select-all {
    font-size: 10px;
    font-weight: 500;
  }
}

.list-item /deep/ {
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid $Alto;

  .check-list {
    text-align: center;
  }
  .custom-control-label {
    &:before {
      width: 25px;
      height: 25px;
      background: $White;
      border-radius: 0;
      border: 2px solid $Gallery;
      box-shadow: none;
    }
    &:after {
      width: 25px;
      height: 25px;
      background-image: none !important;
      box-shadow: none;
    }
  }
  .custom-checkbox
    .custom-control-input:checked
    ~ .custom-control-label::before {
    background: $Supernova;
    box-shadow: none;
    border-color: $Black;
  }
  .item-info {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    p {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      &.barcode {
        color: $MountainMeadow;
        font-size: 11px;
        font-weight: 500;
      }
      &.product {
        font-size: 15px;
        font-weight: 500;
      }
      &.info {
        color: $DustyGray;
        font-size: 11px;
        font-weight: 500;
        span {
          margin-right: 25px;
        }
      }
    }
  }
  .item-one {
    position: relative;
    display: flex;
    .arrow-icon {
      height: 15px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
    }
  }
  .item-two {
    display: flex;
    .product-image {
      width: 80px;
      height: 80px;
      background: $Gallery;
      margin-right: 20px;
      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
  .link-block {
    border-left: 1px solid $Gallery;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 500;
    .ok {
      color: $MountainMeadow;
      display: block;
      margin-bottom: 5px;
      &:hover {
        text-decoration: none;
      }
    }
    .error {
      color: $Carnation;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
</style>

