<script>
export default {
  name: "Footer"
};
</script>


<template>
  <footer>
      <b-container>
          <b-button id="popoverButton-open" size="md" variant="success">
                Tüm İlanları Yayına Al
        </b-button>
        <b-popover show target="popoverButton-open" placement="left">
        Eşleştirme hatalı olanlar, Arama ile Eşleşenler
        <br />
        listesine aktarıldığı için o ilanlar yayına alınmayacaktır.
        </b-popover>
      </b-container>
  </footer>
</template>

<style lang="scss">
footer {
  width: 100%;
  background: $White;
  padding: 25px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top:1px solid $Alto;
  .container {
      text-align: right;
    .btn-success {
        border:none;
        border-radius: 0;
        font-size: 13px;
        background: $MountainMeadow;
    }
  }
}
  .popover{
        max-width: 450px !important;
        font-size: 12px !important;
        margin-right: 20px !important;
        font-weight: bold !important;
        font-family: 'Quicksand', sans-serif !important;
        border:none !important;
        @include contain-shadow;
        &:after{
            @include contain-shadow;
        }
    }
</style>

