<script>
export default {
  name: 'HeaderVue'
}
</script>

<template>
<b-navbar toggleable="md" type="light">
    <b-container>
            <b-col sm="12" md="12" lg="12">
                <b-row align-h="between"> 
                    <img class="logo" src="../assets/logo.png" />
                    <b-button size="md" variant="outline-success" link="http://www.farmazon.com.tr" right>Farmazon'a Git</b-button>
                </b-row>
            </b-col>
    </b-container>
</b-navbar>
</template>

<style lang="scss" scoped>
.navbar-light {
    background:$White;
    padding: 30px 0;
    @include shadow-bottom;
    .container{
        padding: 0;
        .logo{
            max-height: 30px;
        }
    }
    .btn-outline-success{
        font-size: 15px;
        font-weight: 500;
        color:$Black;
        border: 2px solid $Black;
        border-radius: 0;
        &:hover{
            background: none;
            opacity: .7;
        }
        &:active{
            color: $Black;
            border-color: $Black;
        }
    }
}

</style>
