<script>
import HeaderVue from "./Header";
import BarcodeVue from "./BarcodeList";
import SearchVue from "./SearchList";
import FooterVue from "./Footer";
import AutoVue from "./ProductSearch";
export default {
  name: "Home",
  data() {
    return {
      tabIndex: 0,
      loading: true,
      barcodeMatch: [],
      searchMatch: [],
      selectedPublishProduct:[],
      searchMatchProduct:'',
      searchView: false
    };
  },
  components: {
    HeaderVue,
    BarcodeVue,
    SearchVue,
    FooterVue,
    AutoVue
  },
  methods: {
    createData(list) {
      var _self = this;
      list.map(function(item) {
        if (item.isMatched) {
          _self.barcodeMatch.push(item);
        } else {
          _self.searchMatch.push(item);
        }
      });
    },
    openSearchArea(item) {
      this.searchView = true;
      this.searchMatchProduct = item;
    },
    closeSearch() {
      this.searchView = false;
      //this.searchMatchProduct = '';
    },
    selectSearchResult(items){
      var _self = this;
      this.searchMatch.map(function(params, index) {
        if(params.id == _self.searchMatchProduct.id){
          _self.searchMatchProduct.matchedProductName = items.username;
          _self.searchMatchProduct.matchedBarcode = items.phone;
          _self.searchMatch.splice(index, 1, _self.searchMatchProduct);
        }
      })
      
    },
    matchFilter(itemId, index) {
      var notMatchItem = this.barcodeMatch.filter(function(items) {
        return items.id == itemId;
      });
      this.searchMatch.push(notMatchItem[0]);
      this.barcodeMatch.splice(index, 1);
    },
    matchErrorSelectedFilter(itemList){
      var _self = this;
      itemList.map(function(item){
        var notMatchItem = _self.barcodeMatch[item.index];
        _self.searchMatch.push(notMatchItem);
      })
    },
    publishProduct(item) {
      console.log(item); //Post mvc
      this.barcodeMatch.splice(item.index, 1);
    },
    publishSelected(item){
      var _self = this;
      this.selectedPublishProduct = item;
      console.log(this.selectedPublishProduct); //Post mvc
      this.selectedPublishProduct.map(function (params) {
        _self.barcodeMatch.splice(params.index, 1);
      })
    }
  },
  computed: {
    getBarcodeTabs() {
      return `<span>Barkod ile Eşleşenler</span> <span class="badge badge-dark badge-pill">${
        this.barcodeMatch.length
      }</span>`;
    },
    getSearchTabs() {
      return `<span>Arama ile Eşleşenler</span> <span class="badge badge-dark badge-pill">${
        this.searchMatch.length
      }</span>`;
    }
  },
  created() {
    this.$http
      .get("http://www.json-generator.com/api/json/get/bZkawsNqbm?indent=2")
      .then(
        response => {
          this.createData(response.body.data);
          this.loading = false;
        },
        response => {
          // error callback
        }
      );
  }
};
</script>

<template>
<div>
    <header-vue></header-vue>
    <b-container class="contain-shadow">
            <b-tabs v-model="tabIndex" >
                <b-tab :head-html="getBarcodeTabs">
                <barcode-vue v-if="tabIndex == 0" :listData="this.barcodeMatch" :loading="this.loading" @matchFilter="matchFilter" @publish="publishProduct" @publishSelected="publishSelected" @matchErrorSelectedFilter="matchErrorSelectedFilter"></barcode-vue>
                </b-tab>
                <b-tab :head-html="getSearchTabs">
                <search-vue v-if="tabIndex == 1" :listData="this.searchMatch" :loading="this.loading"  @startProductSearch="openSearchArea"></search-vue>
                </b-tab>
            </b-tabs>
    </b-container>
    <footer-vue v-if="this.tabIndex == 0"></footer-vue>
    <auto-vue v-if="searchView" @closeSearch="closeSearch" @selectSearchResult="selectSearchResult"></auto-vue>
</div>
</template>

<style lang="scss" scoped>
.contain-shadow /deep/ {
  @include contain-shadow;
  background: $White;
  margin-top: 38px;
  
  .nav-tabs {
    border: none;
    padding: 30px 0 15px 13px;
    .nav-link {
      border: 1px solid $White;
      border-bottom: 3px solid $White;
      color: $Black;
      padding: 0 0 10px 0;
      margin-right: 30px;
      &:hover {
        border: 1px solid $White;
        border-bottom: 3px solid $White;
      }
      &.active {
        border: 1px solid $White;
        border-bottom: 3px solid $Supernova;
        color: $Black;
        font-weight: 500;
      }
    }
    .badge-dark {
      min-width: 35px;
    }
  }
}
</style>


