<template>
<div class="result-item">
    <div class="result-image"><img src="https://d11t9qeeodwhw6.cloudfront.net/Photos/Product/thumbs/1a4829c4-3d36-4d5d-bd51-35a1b14c9b82.jpg?v=2.34" /></div>
    <div class="result-text">{{item.company.catchPhrase}}</div>
    <div class="result-select">Ürünü Seç</div>
</div>
</template>

<script>
export default {
  props: {
    item: { required: true },
    searchText: { required: true }
  }
};
</script>

<style lang="scss" scoped>
.result-item /deep/ {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .result-text {
    width: 75%;
    font-weight: 500;
    font-size: 14px;
  }
  .result-image {
    width: 65px;
    height: 65px;
    background: $Alto;
    img {
      max-width: 65px;
      max-height: 65px;
    }
  }
  .result-select {
    font-weight: 500px;
    font-size: 14px;
    color: $Cerulean;
  }
}
</style>
