<script>
import itemTemplate from "./ItemTemplate";
export default {
  name: "ProductSearch",
  data() {
    return {
      items: [],
      item: [],
      template: itemTemplate
    };
  },
  methods: {
    updateItems(text) {
      this.$http
        .get(`https://jsonplaceholder.typicode.com/users?q=${text}`)
        .then(
          response => {
            this.items = response.body;
          },
          response => {}
        );
    },
    getLabel(item) {
      return item.company.catchPhrase;
    },
    closePopup(){
        this.$emit('closeSearch');
    },
    selectItem(item){
        this.closePopup();
        this.$emit('selectSearchResult', item);
    }
  }
};
</script>

<template>
<div>
    <section class="modal-contain" ref="search-back" @click="closePopup"></section>
    <div class="modal-content">
        <div class="auto-container">
        <div class="label">Ara:</div>
        <v-autocomplete :min-len="2" @item-selected="selectItem" :auto-select-one-item="false" :items="items" :get-label="getLabel" :component-item='template' @update-items="updateItems"></v-autocomplete>
    </div>
    </div>
</div>
</template>

<style lang="scss" scoped>
.modal-contain{
    width: 100vw;
    height: 100vh;
    background: rgba($Black, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 9999;
}
.modal-content /deep/ {
    position: absolute;
    width: 40%;
    z-index: 99999;
    top: 30%;
    left: 30%;
  .auto-container {
    width: 100%;
    top: 25%;
    position: relative;
    .label {
      position: absolute;
      top: 0;
      z-index: 999;
      left: 10px;
      width: 40px;
      border-right: 2px solid $DustyGray;
      line-height: 40px;
    }
    .v-autocomplete-input {
      height: 40px;
      border-radius: 0;
      border: 2px solid $DustyGray;
      width: 100%;
      padding: 0 10px 0 60px;
    }
    .v-autocomplete-list {
      width: 100%;
      max-height: 350px;
      overflow: hidden;
      overflow-y: auto;
      background: $White;
      border: 2px solid $DustyGray;
      border-top: none;
    }
  }
}
</style>
