$White: #ffffff;
$Gallery : #EFEFEF;
$Black : #000000;
$Supernova : #FFC20D;
$MountainMeadow: #24E383;
$DustyGray: #999999;
$Carnation: #f45250;
$Alto : #DDDDDD;
$Cerulean : #04A4E0;

@mixin shadow-bottom{
    box-shadow: 0 2px 7px rgba($Black, .1);
}

@mixin contain-shadow{
    box-shadow:0px 0px 4px 1px rgba($Black, .1);
}

body{
    font-family: 'Quicksand', sans-serif;
    background: $Gallery;
    padding-bottom: 110px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active{
    outline: none 0 !important;
    box-shadow: none !important;
  }